/* RESET */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************
    DESKTOP FIRST
*********************/

/* COMMON */
body
{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.container
{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

img
{
    width: 100%;
}

.app-wrapper
{
    width: 100%;
    height: 100vh;

    /* test */
    background-color: pink;
    min-width: 550px;
}

ul
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: inherit;
}

.cards h4{
    font-size: 13px;
}

/* MAIN */
main
{
    width: 100%;
    height: calc( 100vh - 100px );
    display: flex;

    /* test */
    background-color: lightblue;
}

/* left nav */
.left-nav
{
    width: 200px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

    /* test */
    background-color: black;
    font-size: 0.8rem;
}

/* nav links */
#xs
{
    display: none;
}

.home
{
    border-left: 3px solid green;
}

.nav-links li img
{
    width: 2.5rem;
    padding: 0.8rem 0 0 0.8rem;
    vertical-align: middle;
}

.nav-links .logo img
{
    width: 140px;
    padding-bottom: 1.5rem;
}

.nav-links li:not(.logo)
{
    opacity: 0.5;
}

.nav-links li:hover
{
    opacity: 1;
}

a>span
{
    display: inline-block;
    vertical-align: middle;
    padding-top: 15px;
}

/* playlist area */
.playlist-area
{
    flex-grow: 1;
    padding: 0.8rem 0 0 0.8rem;
    line-height: 25px;
}

.playlist
{
    display: flex;
    align-items: center;
    opacity: 0.5;
}

.playlist:hover
{
    opacity: 1;
}

.crea-playlist
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #a3a3a3;
    font-size: 20px;
    font-weight: bold;
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.playlist-list
{
    height: 50%;
    overflow-y: auto;
}

.playlist-list li
{
    color: #a3a3a3;
}

.playlist-list li:hover
{
    color: white;
}

/* user info */
.user-info
{
    line-height: 25px;
    padding: 0.8rem 0.8rem 0 0.8rem;
}

.user-info div:first-child
{
    border-bottom: 1px solid #a3a3a3; 
}

.download-img>img
{
    width: 20px;
    vertical-align: middle;
}

.download-app
{
    display: inline-block;
    vertical-align: middle;
}

.download
{
    opacity: 0.5;
    font-size: 0.8rem;
}

.download:hover
{
    opacity: 1;
}

.user
{
    padding-top: 0.5rem;
}

.user-icon>img
{
    background-color: #a3a3a3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
}

.user-name
{
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    padding-left: 10px;
}

/* main content */
.main-content
{
    width: calc( 100% - 200px );
    overflow-y: auto;
    padding-top: 100px;

    /* test */
    background-color: #141922;
}

/* categories */
.categories-menu
{
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}

.categories-menu li
{
    padding-right: 15px;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.5;
}

.categories-menu li:hover
{
    opacity: 1;
}

.border-bottom
{
    border-bottom: 2px solid green;
    width: 30px;
    margin-left: 2rem;
}

/* recently played */
.recently-played h2
{
    padding-bottom: 1.2rem;
}

.recent
{
    display: flex;
    justify-content: space-between;
} 

.col
{
    width: calc( ( 100% / 6 ) - 10px);
}

.recent .cards
{
    margin-bottom: 1.5rem;
}

.card-text
{
    text-align: center;
}


/* created for */
.created-for p
{
    padding-top: 5px;
    font-size: 13px;
    opacity: 0.5;
}

.created
{
    display: flex;
}

.created .col
{
    padding-top: 1.2rem;
    padding-right: 12px;
}

/* most popular artists*/
.most-popular-artists
{
    padding-top: 1.2rem;
}

.most-popular-artists p
{
    padding-top: 5px;
    font-size: 13px;
    opacity: 0.5;
}

.artists
{
    display: flex;
}

.artists .col
{
    padding-top: 1.2rem;
    padding-right: 12px;
}

.artists .cards img
{
    border-radius: 50%;
}


/* FOOTER */
footer
{
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
}

.footer-icons 
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icons li 
{
    margin: 0 7px;
}



/* left icons */
.song
{
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.image-nav-bar
{
    height: 50px;
    width: 50px;
    padding-right: 7px;
}

/* central icons */
.central-icons
{
    
    width: 35%;
}

.central.footer-icons li 
{
    margin: 0 12px;
}

#circle
{
    display: inline-block;
    border: 3px solid white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

.bar
{
    margin: 15px 10px 0;
    background-color: #a3a3a3;
    width: 100%;
    height: 4px;
    border-radius: 20px;
}

.time-bar
{
    background-color: white;
    width: 30%;
    height: 4px;
    border-radius: 20px;
}

.time
{
    display: flex;
}

.seconds
{
    margin-top: 10px;
    font-size: 10px;
}

/* right icons */
.volume-bar
{
    background-color: #a3a3a3;
    width: 100px;
    height: 4px;
    border-radius: 20px;
}

.volume
{
    background-color: white;
    width: 20%;
    height: 4px;
    border-radius: 20px;
}







/* UPGRADE BANNER */
#upgrade-banner
{
    position: fixed;
    top: 0;
    right: 0;
    width: calc( 100% - 200px );
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#upgrade-btn
{
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 20px;
    text-transform: uppercase;
}

/******* 
 MEDIUM
*******/

@media screen and (max-width: 1100px) 
{
    /* categories */
    .categories-menu
    {
        flex-wrap: wrap;
    }

    .categories-menu li
    {
        padding-right: 40px;
    }

    
    /* recently played */
    .recent
    {
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }

    .col
    {
        width: calc( 100% / 4 );
        padding: 0 0.5rem;
    }

   
}

/******* 
 SMALL
*******/
@media screen and (max-width:700px) 
{
    /* recently played */
    .col
    {
        width: 50%;
    }
}

/************* 
 EXTRA SMALL
*************/
@media screen and (max-width:600px) 
{
    /* left nav */
    .left-nav
    {
        width: 60px;
    }

    #xs 
    {
        display: block;
    }

    #normal
    {
        display: none;
    }

    .nav-links .logo img
    {
        width: 2.5rem;
        padding-bottom: 0;
    }

    .home
    {
        border-left: none;
    }


    /* categories */
    .categories-menu li
    {
        padding-right: 28px;
    }

    /* user info */
    .user-info div:first-child
    {
        border-bottom: none; 
    }


    /* main content */
    .main-content
    {
        width: calc( 100% - 60px );
    }

    /* UPGRADE BANNER */
    #upgrade-banner
    {
        width: calc( 100% - 60px );
    }
}